.text-decorator-none{
    text-decoration: none;
}
.ajust{
    margin-bottom: 150px;
}
.ajust1{
    padding-top: 70px;
    color: #2b8a46;
}
.ajust2{
    padding-top: 20px;
}
button#color{
    color: aquamarine;
}