
.ajust1{
    padding-top: 10px;
    color: #2b8a46;
  
}
.ajust2{
    padding-top: 60px;
    
   
}
button#colorbutton3{
    margin-bottom: 70px;
    color: rgb(43, 42, 42);
    border-radius: 15px;
    text-decoration: none;
    
}
button#colorbutton2{
    margin-bottom: 70px;
    color: rgb(43, 42, 42);
    border-radius: 15px;
    
}
   
   button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #50cf74;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   
   button:hover::before {
    width: 100%;
   }
   .ajust3{
    padding-left: 40%;
   }
   .ajust{
  text-decoration: none;
   }