    button#color1{
    color: #124116;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    button#color2{
       color: rgba(165, 153, 42, 0.743)
      
    }
    a#text{
       text-decoration: none;
    }
    .text2{
       color: #124116
    }
    